* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-style: normal;
  text-decoration: none;
}

.wrap,
html,
body {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

body {
  font-size: 0.35rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 0.7rem;
  line-height: 0.7rem;
  background: #2ed120;
  color: #fff;
  padding: 0 0.2rem;
}

main {
  flex: 1;
  overflow-y: scroll;
}

main .baner {
  width: 100%;
  height: 200px;
}

main .baner img {
  width: 100%;
  height: 200px;
}

main .baner .swiper-scrollbar {
  background: #ccc;
}

main .baner .swiper-scrollbar .swiper-scrollbar-drag {
  background: #2ed120;
}

main dl {
  display: flex;
  padding: 0.2rem 0.2rem;
}

main dl dt {
  padding-right: 0.2rem;
}

main dl dd {
  flex: 1;
  height: 120px;
  line-height: 1.8;
}

main dl dd p {
  display: flex;
  justify-content: space-between;
}

main dl dd p .ospan {
  background: orange;
  color: #fff;
  padding: 0.07rem;
  font-size: 0.26rem;
}

main dl dd p a {
  color: orange;
}

main dl dd p a b {
  color: #999;
}

main dl dd b {
  color: #ccc;
}

main dl dd .op {
  color: #ccc;
  font-size: 0.3rem;
}

main dl dt img {
  width: 100px;
  height: 110px;
}

footer {
  width: 100%;
  height: 0.7rem;
  background: yellow;
}
