* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
  font-size: .35rem;
}

.wrap {
  background: #fff;
}

.wrap .header {
  background: #46d264;
  height: 1.05rem;
  line-height: 1.05rem;
  display: flex;
}

.wrap .header span {
  color: #fff;
}

.wrap .header span:nth-child(1) {
  flex: .4;
  font-size: .3rem;
}

.wrap .header span:nth-child(2) {
  flex: .6;
  font-size: .45rem;
}

.wrap .banner {
  height: 2.90rem;
  padding-bottom: .3rem;
}

.wrap .banner ul {
  height: 100%;
}

.wrap .banner ul li {
  height: 100%;
}

.wrap .banner ul li img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.wrap .banner .pages {
  bottom: 0;
  display: flex;
}

.wrap .banner .pages .swiper-pagination-bullet {
  flex: 1;
  height: .3rem;
  display: inline-block;
  background: #000;
  opacity: .2;
  border-radius: 0%;
}

.wrap .banner .pages .swiper-pagination-bullet-active {
  opacity: 1;
  background: green;
}

.wrap .section dl {
  height: 2.4rem;
  border-bottom: .001rem solid #000;
  display: flex;
}

.wrap .section dl dt {
  flex: .3;
  line-height: .4rem;
}

.wrap .section dl dt img {
  display: inline-block;
  width: 1.87rem;
}

.wrap .section dl dd {
  flex: .7;
  display: flex;
}

.wrap .section dl dd span:nth-child(1) {
  flex: .9;
}

.wrap .section dl dd span:nth-child(1) h5 {
  font-size: .36rem;
}

.wrap .section dl dd span:nth-child(1) p span {
  background: orangered;
  color: #fff;
  margin-right: .5rem;
}

.wrap .section dl dd span:nth-child(1) p b {
  color: orangered;
}

.wrap .section dl dd span::nth-child(2) {
  flex: .1;
  margin: 0 auto;
}
