* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
html,
.wrap {
  width: 100%;
  height: 100%;
}

body {
  font-size: .32rem;
}

.wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrap .header {
  width: 100%;
  height: 1rem;
  color: #fff;
  background: #46D264;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 .2rem;
}

.wrap .header span {
  flex-basis: .5rem;
  font-size: .24rem;
}

.wrap .header h3 {
  flex: 1;
  text-align: center;
  font-size: .46rem;
  font-weight: normal;
}

.wrap .ban {
  width: 100%;
  height: 3.1rem;
}

.wrap .ban ul {
  width: 100%;
  height: 3rem;
}

.wrap .ban ul img {
  width: 100%;
  height: 100%;
}

.wrap .ban .swiper-scrollbar {
  left: 0;
  border-radius: 0;
}

.wrap .ban .page {
  position: absolute;
  bottom: 0;
  z-index: 50;
  height: 6px;
  width: 100%;
  background: #ccc;
}

.wrap .ban .swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: palegreen;
  left: 0;
  top: 0;
}

.wrap .main {
  width: 100%;
  position: relative;
  margin-top: 10px;
  flex: 1;
}

.wrap .main dl {
  width: 100%;
  height: 2.3rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 .2rem;
}

.wrap .main dl dt {
  width: 1.54rem;
  height: 1.54rem;
}

.wrap .main dl dt img {
  width: 100%;
  height: 100%;
}

.wrap .main dl dd {
  margin-left: .2rem;
  flex: 1;
}

.wrap .main dl dd h3 {
  font-weight: normal;
}

.wrap .main dl dd p {
  height: .5rem;
}

.wrap .main dl dd p .tip {
  display: inline-block;
  padding: 0.03rem .1rem;
  background: #FF9800;
  font-size: .26rem;
  color: #fff;
  margin-right: 40%;
}

.wrap .main dl dd p .price {
  color: #FF9900;
  font-size: .36rem;
}

.wrap .main dl dd p span {
  margin-right: .3rem;
  color: #666;
  font-size: .28rem;
}

.wrap .main dl b.go {
  color: #ccc;
  font-weight: bold;
  font-size: .42rem;
}
