*{
	margin:0;
	padding:0;
	list-style-type: none;
}
html,body{
	width: 100%;
	height: 100%;
	font-size: .32rem;
}
body{
	display: flex;
	flex-direction:column;
}
header{
	height: .8rem;
	background-color: #46D264;
	align-items:center;
	width: 100%;
	display: flex;
	justify-content:center;
	position: relative;
	color: #fff;
	.a1{
		position: absolute;
		left: .2rem;
	}
}
section{
	box-sizing:border-box;
	overflow: hidden;
	width: 100%;
}
.lunbo{
	width: 100%;
	.banner{
		width: 100%;
		img{
			width: 100%;
		}
	}
	.swiper-scrollbar{
		position: relative;
	}
}
.list{
	box-sizing:border-box;
	padding: 0 .3rem;
	width: 100%;
	dl{
		padding: .3rem 0;
		width: 100%;
		display: flex;
		dt{
			flex:3;
			
			img{
				width: 100%;
			}
		}
		dd{
			flex:7;
			display: flex;
			div:nth-child(1){
				flex:7;
				p{
					padding:0 .1rem;
					display: flex;
					justify-content:space-between;
				}
			}
			div:nth-child(2){
				display: flex;
				align-items:center;
			}
		}
	}
}